.dashboard{

padding:90px 0;

}

.dashboard h2{

font-size:40px;
margin-bottom:45px;

}

.dashboard-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}

.dashboard-card{

border:1px solid #E5E7EB;
padding:30px;
border-radius:16px;
background:white;

transition:.3s;

}

.dashboard-card:hover{

transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.dashboard-card span{

color:#6B7280;
font-size:15px;

}

.dashboard-card h3{

margin-top:12px;
font-size:34px;

}

.blue{

color:#2563EB;

}

@media(max-width:900px){

.dashboard-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.dashboard-grid{

grid-template-columns:1fr;

}

}